<!DOCTYPE html>
<html>
  <head>
    <title>GPU</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<<<<<<< HEAD
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    <style>
  		.dark-mode{
  			background-color: #252625;
  		}
  		.toggle{
  			border-color: black;
  			background-color: #e8c900;
  			padding: 2px;
  			border: 2px solid;
  			border-width: medium;
  			padding-top: 10px;
  			padding-bottom: 10px;
  			border-radius: 12px;
  		}
	</style>
>>>>>>> 668508de591ee30fbc7241ff5e4ab3ede0d6b1ed
  </head>
  <body>
    <div class="logo-area">
      <div class="container">
        <div class="row">
          <p>Pc Parts Elect</p>
        </div>
      </div>
      <br>
      <br>
      <img class = "logo" src="../images/logo.jpg" alt="logo">
    </div>
    <!-- class ="col-sm-12 col-md-6 col-lg-2" -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #C6AC01;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommendation">Recommendation</a>
            </li>
            <%if(!loggedIn){ %> <!--To hide the login button after user has logged in -->
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <% } %>
            <%if(loggedIn){ %> <!--To show the logout button after user has logged in -->
              <li class="nav-item">
              <form  action="/logout" method="get">
                <a class ="nav-link"><button class="linkButton" type="submit" value = "submit">Logout</button></a>
              </form>
              </li>
            <% } %>
            <li>
      				<button class="toggle" name="toggletheme" type="toggle" onclick="myFunction()">Theme</button>
      			</li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/generalProducts">General Products</a></li>
                <li><a class="dropdown-item" href="/desktop">Desktop</a></li>
                <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                <li><a class="dropdown-item" href="/gpu">GPU</a></li>
                <li><a class="dropdown-item" href="/cpu">CPU</a></li>
                <li><a class="dropdown-item" href="/motherBoard">Mother board</a></li>
                <li><a class="dropdown-item" href="/ram">Ram</a></li>
                <li><a class="dropdown-item" href="/storage">HardDisks/SSD</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div class="content">
      <div class="main">
			 <h1 align="center"><b>Shopping Cart</b><h1>



<div class="container">
	<h1><b>Your Basket</b></h1>
	<div class="cart">
		<div class="products">






		</div>





		<div class="cart-total">
			<p>
				<span>Total Price</span>
				<span class = "totalprice">€0</span>
			</p>
			<p>
				<span>Number of Items</span>
				<span class = "totalitems">0</span>
			</p>
			<p>
				<span>VAT</span>
				<span>20%</span>
			</p>
			<a href="/checkOut">Proceed to Checkout</a>
		</div>
	</div>
</div>
  		<h1 align="center"><b>GPU Products</b></h1>
    <center>
			<div class="container">

			<div class="productTabs">

            <a href="/accountInfo"><img src="images/gpu5.png"></a>
			 <div class="productTabDetail"><a class = "title" href="#">Gigabyte NVIDIA GeForce GT 1030 2GB GDDR4 Graphics Card</a>
              <br>
               <span class = "category"><h5>GPU</h5></span>
    					<h3><b>€119.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>20 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/gpu2.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">ASUS GeForce GTX 1050 Ti 4GB Phoenix Fan Edition DVI-D HDMI DP 1.4 Gaming Graphics Card (PH-GTX1050TI-4G) Graphic Cards</a>
              <br>
              <span class = "category"><h5>GPU</h5></span>
    					<h3><b>€200</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>6 reviews</h5>
              <button class="reuseabale" href="#" type="button">Add to cart</button>
            </div>
          </div>
				<div class="productTabs">

            <a href="/accountInfo"><img src="images/rtx2060.png"></a>
			<div class="productTabDetail"><a class = "title" href="#">Inno3D GeForce RTX 2060 6GB Twin X2 Graphics Card</a>
              <br>
             <span class = "category"> <h5>GPU</h5></span>
    					<h3><b>€419.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>22 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/gpu1.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">ZOTAC NVIDIA GeForce RTX 3050 Twin Edge OC 8GB GDDR6 Video Card</a>
              <br>
               <span class = "category"><h5>GPU</h5></span>
    					<h3><b>€429.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    					<h5>8 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/pc1.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">MINECRAFT ELITE DESKTOP PC AMD Ryzen 5 3600
					8GB DDR4 2666MHz
					4GB GTX 1650
					256GB SSD</a>
              <br>
             <span class = "category"> <h5>GPU</h5></span>
    					<h3><b>€899.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>7 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>

				<div class="productTabs">

            <a href="/accountInfo"><img src="images/RTX3070.png"></a>
			 <div class="productTabDetail"><a class = "title" href="#">MSI GeForce RTX 3070 Ti VENTUS 3X OC 8GB GDDR6 Graphics Card</a>
			<br>

              <span class = "category"><h5>GPU</h5></span>
    					<h3><b>€999.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>21 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/gpu6.png"></a>
			 <div class="productTabDetail"><a class = "title" href="#">Gigabyte AORUS NVIDIA GeForce RTX 3090 24GB GDDR6X Graphics Card</a>
              <br>
              <span class = "category"><h5>GPU</h5></span>
    					<h3><b>€3599.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    					<h5>1 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  				<!-- Cart functionality done by Glen-->
				<script>
				var addToCartButtons = document.getElementsByClassName('reuseabale')
				for(var i = 0; i < addToCartButtons.length; i++) {
					var button = addToCartButtons[i]
					button.addEventListener('click', addTocartClicked)


				}


					function updateCartTotal(){
					var cartItemContainer = document.getElementsByClassName('cart')[0]
					var cartRows = cartItemContainer.getElementsByClassName('product')
					var total = 0
					for (var i =0; i < cartRows.length; i++) {
						var cartRow = cartRows[i]
						var priceElement = cartRow.getElementsByClassName('productprice')[0]
						var quantityElement = cartRow.getElementsByClassName('productquantity')[0]
						console.log(priceElement, quantityElement)
						var price = parseFloat(priceElement.innerText.replace('€', ''))
						var quantity = quantityElement.value
						console.log(price * quantity)

						total = total + (price * quantity)
					}
					document.getElementsByClassName('totalprice')[0].innerText = '€' + total
					document.getElementsByClassName('totalitems')[0].innerText = quantity = i

				}




				function addTocartClicked(event) {
				var button = event.target
				var shopItem = button.parentElement.parentElement
				var ImgSrc = shopItem.getElementsByTagName('img')[0].src
				var title = shopItem.getElementsByClassName('title')[0].innerText
				var price = shopItem.getElementsByTagName('h3')[0].innerText
				var category = shopItem.getElementsByClassName('category')[0].innerText

				console.log(title, price, category, ImgSrc)
				addItemToCart(title, price, category, ImgSrc)
				updateCartTotal()

				}


				function addItemToCart(title, price, category, ImgSrc) {
					var cartRow = document.createElement('div')
					var cartItems = document.getElementsByClassName('products')[0]
					var cartRowContents = `
					<div class="product">

				<img src="${ImgSrc}">

				<div class="productinfo">

					<h3 class="product-name">${title}</h3>

					<h4 class="productprice">${price}</h4>

					<h4 class="producttype">${category}</h4>

					<p>Qnt:<input class="productquantity" <input value="1" name=""> </p>

					<p class="productremove">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove">Remove</span>

					</p>

				</div>

			</div>`

					cartRow.innerHTML = cartRowContents
					cartItems.append(cartRow)

					var removeCartItems = document.getElementsByClassName('remove')
					console.log(removeCartItems)
					for (var i = 0; i < removeCartItems.length; i++) {
					var button = removeCartItems[i]
					button.addEventListener('click', function(event){
					var buttonClicked = event.target
					buttonClicked.parentElement.parentElement.parentElement.remove()
					updateCartTotal()



				})

	}

					var quantityInputs = document.getElementsByClassName('productquantity')
						for (var i = 0; i < removeCartItems.length; i++) {
							var input = quantityInputs[i]
							input.addEventListener('change', quantitychanged)
						}
						function quantitychanged(event) {
						var input = event.target
						if(isNaN(input.value) || input.value <= 0) {
								input.value = 1
							}
							updateCartTotal()
						}




				}



				</script>
			</div>
      </div>
    </div>
    <div class="footer">
      <footer>
        <center>
          <h3 >Contact Details</h3>
          <p> Email: PCPartsElect@gmail.com </p>
          <p>Phone Number: 0837664069</p>
        </center>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script>
  			function myFunction() {
  				var element = document.body;
  				element.classList.toggle("dark-mode");
  			}
		</script>
  </body>
</html>
