<!DOCTYPE html>
<html>
  <head>
    <title>Cooling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="logo-area">
      <div class="container">
        <div class="row">
          <p>Pc Parts Elect</p>
        </div>
      </div>
      <br>
      <br>
      <img class = "logo" src="../images/logo.jpg" alt="logo">
    </div>
    <!-- class ="col-sm-12 col-md-6 col-lg-2" -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #C6AC01;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommendation">Recommendation</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/generalProducts">General Products</a></li>
                <li><a class="dropdown-item" href="/desktop">Desktop</a></li>
                <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                <li><a class="dropdown-item" href="/gpu">GPU</a></li>
                <li><a class="dropdown-item" href="/cpu">CPU</a></li>
                <li><a class="dropdown-item" href="/motherBoard">Mother boards</a></li>
                <li><a class="dropdown-item" href="/ram">Ram</a></li>
                <li><a class="dropdown-item" href="/storage">HardDisks/SSD</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div class="content">
      <div class="main">
	   <h1 align="center"><b>Shopping Cart</b><h1>



<div class="container">
	<h1><b>Your Basket</b></h1>
	<div class="cart">
		<div class="products">






		</div>



		<!--cart functionality-->

		<div class="cart-total">
			<p>
				<span>Total Price</span>
				<span class = "totalprice">€0</span>
			</p>
			<p>
				<span>Number of Items</span>
				<span>0</span>
			</p>
			<p>
				<span>VAT</span>
				<span>20%</span>
			</p>
			<a href="/checkOut">Proceed to Checkout</a>
		</div>
	</div>
</div>
  		<h1 align="center"><b>motherboard Products</b></h1>
		<!--The products listed in the motherBoard category from lowest to highest price was done by jamie-->
    <center>
			<div class="container">

		<div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard7.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">Gigabyte GA-H110-D3A Intel LGA1151 DDR4 USB 3.1 m.2 GB LAN ATX Motherboard - Black</a>
              <br>
               <span class = "category"><h5>Motherboards</h5></span>
    					<h3><b>€49.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>1 reviews</h5>
              <button class="reuseabale" href="#" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard5.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">MSI A520M-A PRO Motherboard 'mATX, AMD Ryzen 3000 3rd Gen</a>
              <br>
               <span class = "category"><h5>Motherboard</h5></span>
    					<h3><b>€50</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>39 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		<div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard3.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">Gigabyte AMD B450 AM4 Aorus Micro ATX DDR4-SDRAM Motherboard</a>
              <br>
               <span class = "category"><h5>Motherboards</h5></span>
    					<h3><b>€80</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>6 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard4.png"></a>
			 <div class="productTabDetail"><a class = "title" href="#">MSI - PRO Z690-A DDR4 Socket LGA 1700 USB 3.2 Intel Motherboard</a>
              <br>
              <span class = "category"><h5>Motherboard</h5> </span>
    					<h3><b>€180</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>11 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		<div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard2.png"></a>
			 <div class="productTabDetail"><a class = "title" href="#">MSI Pro Z690-A Intel LGA 1700 ATX DDR4 Motherboard</a>
              <br>
               <span class = "category"><h5>Motherboards</h5></span>
    					<h3><b>€199.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x"></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>22 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
         <div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard1.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">Intel Z590 gaming motherboard with Wi-Fi and CAM features</a>
              <br>
             <span class = "category"> <h5>Motherboards</h5> </span>
    					<h3><b>€219.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked "></span>
    						<span class="fa fa-star fa-2x"></span>
    					<h5>14 reviews</h5>
              <button class="reuseabale" type="button">Add to cart</button>
            </div>
          </div>
		  <div class="productTabs">

            <a href="/accountInfo"><img src="images/motherboard6.png"></a>
			  <div class="productTabDetail"><a class = "title" href="#">MPG X570 GAMING PRO CARBON WIFI MOTHERBOARD</a>
              <br>
              <span class = "category"> <h5>Motherboards</h5></span>
    					<h3><b>€259.99</b></h3>
    					 <span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    						<span class="fa fa-star fa-2x checked"></span>
    					<h5>4 reviews</h5>
              <button class="reuseabale" href="#" type="button">Add to cart</button>
            </div>
          </div>
		  <script>
				var addToCartButtons = document.getElementsByClassName('reuseabale')
				for(var i = 0; i < addToCartButtons.length; i++) {
					var button = addToCartButtons[i]
					button.addEventListener('click', addTocartClicked)

				}
					function updateCartTotal(){
					var cartItemContainer = document.getElementsByClassName('cart')[0]
					var cartRows = cartItemContainer.getElementsByClassName('product')
					var total = 0
					for (var i =0; i < cartRows.length; i++) {
						var cartRow = cartRows[i]
						var priceElement = cartRow.getElementsByClassName('productprice')[0]
						var quantityElement = cartRow.getElementsByClassName('productquantity')
						[0]
						console.log(priceElement, quantityElement)
						var price = parseFloat(priceElement.innerText.replace('€', ''))
						var quantity = quantityElement.value
						console.log(price * quantity)

						total = total + (price * quantity)
					}
					document.getElementsByClassName('totalprice')[0].innerText = '€' + total
				}




				function addTocartClicked(event) {
				var button = event.target
				var shopItem = button.parentElement.parentElement
				var ImgSrc = shopItem.getElementsByTagName('img')[0].src
				var title = shopItem.getElementsByClassName('title')[0].innerText
				var price = shopItem.getElementsByTagName('h3')[0].innerText
				var category = shopItem.getElementsByClassName('category')[0].innerText

				console.log(title, price, category, ImgSrc)
				addItemToCart(title, price, category, ImgSrc)

				}

				function addItemToCart(title, price, category, ImgSrc) {
					var cartRow = document.createElement('div')
					var cartItems = document.getElementsByClassName('products')[0]
					var cartRowContents = `
					<div class="product">

				<img src="${ImgSrc}">

				<div class="productinfo">

					<h3 class="product-name">${title}</h3>

					<h4 class="productprice">${price}</h4>

					<h4 class="producttype">${category}</h4>

					<input class="productquantity"Qnt: <input value="1" name="">

					<p class="productremove">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove">Remove</span>

					</p>

				</div>

			</div>`

					cartRow.innerHTML = cartRowContents
					cartItems.append(cartRow)

					var removeCartItems = document.getElementsByClassName('remove')
					console.log(removeCartItems)
					for (var i = 0; i < removeCartItems.length; i++) {
					var button = removeCartItems[i]
					button.addEventListener('click', function(event){
					var buttonClicked = event.target
					buttonClicked.parentElement.parentElement.parentElement.remove()
					updateCartTotal()

	})

	}

				}



				</script>

      </div>
    </div>
    <div class="footer">
      <footer>
        <center>
          <h3 >Contact Details</h3>
          <p> Email: PCPartsElect@gmail.com </p>
          <p>Phone Number: 0837664069</p>
        </center>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>
